<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bilgeadam</property>
        <property name="hibernate.connection.username">jdbc</property>
        <property name="hibernate.connection.password">.</property>

        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="com.bilgeadam.hibernate.entity.Customer" />
    </session-factory>
</hibernate-configuration>